
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 56px;
  height: 100vh;
  background-color: $white;
}

.bg-offwhite {
  background-color: $offwhite;
}

.nav-scroller {
  position: fixed;
  width: 100%;
  top: 55;
  z-index: 1;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: $offwhite;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: $offwhite;
  font-weight: bold;
}

.nav-underline .nav-link:hover, .nav-underline .active {
  background-color: $green;
}

.infrastructure {
  max-width: 100%;
  background-color: $white;
}

.infr-left-col {
  background-color: #f5f5f5;
}

.infr-table-head {
  background-color: $offwhite;
}

.border-faded {
  border-bottom: 1px solid #272d33 !important;
}
